.content {
  height: 90vh;
}

.contentTitle {
  text-align: center;
  padding: 0 0 10px 0;
}

.documentContent {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px;
}

.videoContent {
  text-align: center;
}
.videoContent iframe {
  height: 70vh; /* Set height to 100% of the viewport height */
  width: 60vw; /* Set width to 100% of the viewport width */
  border: none; /* Remove default border */
}

.sider img {
  width: 30px;
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  .documentContent {
    gap: 10px;
    border-radius: 25px;
    padding: 30px;
  }

  .documentContent h1 {
    font-size: 20px;
  }

  .documentContent p {
    font-size: 10px;
  }
}
