.content {
  height: 90vh;
}

.contentTitle {
  text-align: center;
  padding: 0 0 10px 0;
}

.documentContent {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px;
}

.videoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.videoContent iframe {
  height: 70vh; /* Set height to 100% of the viewport height */
  width: 60vw; /* Set width to 100% of the viewport width */
  border: none; /* Remove default border */
}

.videoContent .openFullScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
}

.videoContent .fullScreenButton {
  width: 100px;
  background-color: #4e9aff;
  color: #ffffff;
  border: none;
  padding: 8px;
}

.videoContent .exitFullScreenButton {
  position: absolute;
  height: 35px;
  top: 10px;
  right: 10px;
  background-color: #292827;
  color: #ffffff;
  border: none;
}

.videoContent .fullScreenButton:hover {
  cursor: pointer;
}

.videoContent .exitFullScreenButton:hover {
  cursor: pointer;
}

.videoContent .exitFullScreenButtonHide {
  display: none;
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  .documentContent {
    gap: 10px;
    border-radius: 25px;
    padding: 30px;
  }

  .documentContent h1 {
    font-size: 20px;
  }

  .documentContent p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
  /* For mobile: */
  .videoContent .fullScreenButton {
    display: none;
  }

  .videoContent .exitFullScreenButton {
    display: none;
  }
}
