.content {
  height: 90vh;
}

.contentTitle {
  text-align: center;
  padding: 0 0 10px 0;
}

.videoContent {
  text-align: center;
}

.videoContent iframe {
  height: 70vh; /* Set height to 100% of the viewport height */
  width: 60vw; /* Set width to 100% of the viewport width */
  border: none; /* Remove default border */
}

.landingContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px;
}

.landingContent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
}

@media only screen and (max-width: 1200px) {
  /* For mobile: */

  .landingContent img {
    gap: 10px;
    border-radius: 25px;
    padding: 30px;
  }

  .landingContent h1 {
    font-size: 20px;
  }

  .landingContent h2 {
    font-size: 15px;
  }

  .landingContent p {
    font-size: 10px;
  }
}
