.content {
  height: 90vh;
}

.contentTitle {
  text-align: center;
  padding: 0 0 10px 0;
}

.documentContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.videoContent {
  text-align: center;
}
.videoContent iframe {
  height: 70vh; /* Set height to 100% of the viewport height */
  width: 60vw; /* Set width to 100% of the viewport width */
  border: none; /* Remove default border */
}
